<!DOCTYPE html>
<html>
<head>
    <title>Book Rental System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('add_book') }}">Add New Book</a></li>
            <li><a href="{{ url_for('readers') }}">Readers</a></li>
            <li><a href="{{ url_for('borrowed_books') }}">Borrowed Books</a></li>
            <li><a href="{{ url_for('overdue_books') }}">Overdue Books</a></li>
            <li><a href="{{ url_for('search_books') }}">Search</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
    <h1>Book Rental System</h1>
    <h2>Books List</h2>
    <ul>
        {% for book in books %}
        <li>
            <a href="{{ url_for('book_details', book_id=book.id) }}">{{ book.title }} by {{ book.author }}</a> -
            {% if book.copies > 0 %}
                <a href="{{ url_for('borrow_book', book_id=book.id) }}">Borrow</a>
            {% else %}
                <span>Not available</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
